.clock-container {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: rgb(90, 221, 199);
  border-radius: 5px;
  width: 250px;
  margin: 0 auto;
}

.clock-title {
  font-size: 24px;
  margin: 0 0 15px;
}

.clock-display {
  font-size: 36px;
}

.clock-button {
  background-color: aqua;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.clock-button:hover {
  background-color: aqua;
}

.clock-button:active {
  background-color: aqua;
}
